@media(max-width: 1024px) {
    .cabecalho {
        height: 12rem;
    }
}

@media(max-width: 431px) {
    .tema {
        padding-right: 1rem;
    }

    .titulo-cabecalho {
        font-size: 1.5rem;
    }

    .info-conteudo {
        width: 23rem;
    }
}

@media(max-width: 376px) {
    .cabecalho {
        height: 8rem;
    }
    .principal-conteudo {
        min-height: 24rem;
    }

    .info-conteudo {
        width: 20rem;
    }
}

@media(max-width: 345px) {
    .titulo-cabecalho {
        font-size: 1.2rem;
    }

    .info-conteudo {
        width: 18rem;
    }
}